<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag '1.jpg', class: 'img-fluid' %>  <!-- This class makes the image fluid-->
        <div class="carousel-caption">
        We're just getting started...
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag '2.jpg', class: 'img-fluid' %>
        <div class="carousel-caption">
        A new fresh...
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag '3.jpg', class: 'img-fluid' %>
        <div class="carousel-caption">
        Are you ready to eat?
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <% @places.each do |place| %>
    <div class="index-photo">
        <% place.photos.each do |photo| %>
              <%= image_tag photo.picture, class: "small-photo" %>
        <% end %>
    </div>
  <% end %>

<br class="clear">


<% @places.each do |place| %>

  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %> 
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b>
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>

  </div>

<% end %>

  <div class="apple_pagination">
    <div class="page_info">
    <%= page_entries_info @places %>
    </div>
  <%= will_paginate @places, :container => false %>
  </div>